/* 
    Document   : customized
    Created on : Dec 16, 2012, 5:42:35 PM
    Author     : richistron
    Description:
        Purpose of the stylesheet follows.
*/
.container-fluid{
    background: #fff;
}
.seccionTitle h1 a:hover{
    text-decoration: none;
}
/* Desktop */
@media (min-width: 979px) {     
    .container-fluid {
        width: 960px;
        margin: auto;
        padding: 0;
    }
}

/* mobile */
@media (max-width: 970px) { 
    .container-fluid {        
        margin: 0;
        padding: 0;
        color: red;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    /**/
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    /**/
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    /**/
}