/* 
		Document   : customized
		Author     : richistron
		Description:
				less css stylesheet
*/
/* Font face */
@font-face {
  font-family: 'DroidSansMonoRegular';
  src: url('/fonts/DroidSansMono-webfont.eot');
  src: url('/fonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/DroidSansMono-webfont.woff') format('woff'), url('/fonts/DroidSansMono-webfont.ttf') format('truetype'), url('/fonts/DroidSansMono-webfont.svg#DroidSansMonoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* classes and functions */
html {
  font: 60px/68px 'DroidSansMonoRegular', Arial, sans-serif;
  letter-spacing: 0;
  font-family: 'DroidSansMonoRegular', Helvetica, 'arial-sans', arial;
  font-size: 16px;
  font-weight: normal;
  background: #333333;
}
body {
  font-size: 62.5%;
  color: #333333;
}
html,
body,
div,
p,
h1,
h2,
h3,
h4,
span,
section,
article,
ul,
ol,
li,
header,
nav,
footer {
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
h1 {
  font-size: 4em;
  /* 40px / 10px */

}
html,
body,
nav {
  background: #ffffff;
}
.transition-all {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header {
  background: #333333;
  padding: 0 25px;
}
.header a {
  background: url(/img/logo76x60.png);
  background-repeat: no-repeat;
  background-position: 0 8px;
  display: block;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-left: 85px;
}
.header a h1 {
  display: inline-block;
  color: #ffffff;
  margin: 0px 10px 0 10px;
}
.header a p {
  display: inline-block;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: bolder;
  word-spacing: 0.2em;
}
.header a:hover,
.header a:active,
.header a:focus {
  opacity: 0.75;
  color: #526569;
  -moz-transform: scale(0.75) translate(-100px, 0);
  -webkit-transform: scale(0.75) translate(-100px, 0);
  transform: scale(0.75) translate(-100px, 0);
}
.nav {
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.65);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.65);
  margin-bottom: 4px;
}
.nav-ul {
  width: 960px;
  display: block;
  margin: auto;
  text-align: center;
}
.nav-li {
  display: inline-block;
  margin: 0 15px;
  padding: 0 15px;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-li:hover,
.nav-li:focus,
.nav-li:active {
  background: #000;
  background: rgba(0, 0, 0, 0.5);
}
.nav-li:hover a,
.nav-li:focus a,
.nav-li:active a {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
  font-size: 2em;
  /* 20px / 10px */

  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-li:hover a:hover,
.nav-li:focus a:hover,
.nav-li:active a:hover,
.nav-li:hover a:focus,
.nav-li:focus a:focus,
.nav-li:active a:focus,
.nav-li:hover a:active,
.nav-li:focus a:active,
.nav-li:active a:active {
  color: #ffffff;
  -moz-text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
  -webkit-text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
  text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
}
.nav-li.active {
  background: rgba(0, 0, 0, 0.5);
}
.nav-li.active a {
  color: #ffffff;
  -moz-text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
  -webkit-text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
  text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
}
.nav-a {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
  font-size: 2em;
  /* 20px / 10px */

  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-a:hover,
.nav-a:focus,
.nav-a:active {
  color: #ffffff;
  -moz-text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
  -webkit-text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
  text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
}
.container {
  background: #fff;
  width: 960px;
  position: relative;
  left: 50%;
  margin-left: -480px;
}
.container section div.box {
  margin: 30px;
  display: inline-block;
  width: 415px;
  vertical-align: top;
}
.container section div.box article a {
  text-decoration: none;
}
.container section div.box article header h1 {
  font-size: 1.8em;
  line-height: 1em;
}
.container section div.box article header h1 a {
  color: #333333;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.container section div.box article header h1 a:hover,
.container section div.box article header h1 a:focus,
.container section div.box article header h1 a:active {
  color: #526569;
}
.container section div.box article div.thumb {
  float: left;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 60px;
  margin: 10px;
}
.container section div.box article div.thumb img {
  width: 110px;
}
.container section div.box article p {
  line-height: 1.2em;
  font-size: 1.7em;
}
.container section div.box article p a {
  color: #2a9eea;
  font-size: .8em;
  font-weight: bolder;
  font-style: italic;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.container section div.box article p a:hover,
.container section div.box article p a:focus,
.container section div.box article p a:active {
  color: #526569;
}
.container section div.box article span.author {
  color: #526569;
}
.container section div.box div.articlePagination {
  margin: 0;
  padding: 0;
  height: 30px;
  line-height: 1.8em;
  font-size: 1.7em;
  text-align: right;
  font-weight: bolder;
}
.container section div.box div.articlePagination a {
  color: #2a9eea;
  text-decoration: none;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.container section div.box div.articlePagination a:hover,
.container section div.box div.articlePagination a:focus,
.container section div.box div.articlePagination a:active {
  color: #526569;
}
.container section div.box div.articlePagination a.active {
  color: #526569;
}
.footer {
  background: #333333;
  color: #ffffff;
}
.footer a {
  color: #2a9eea;
}
.footer .socialLinks {
  text-align: center;
}
.footer .socialLinks a {
  display: inline-block;
  text-indent: -99999px;
  width: 100px;
  height: 100px;
}
.footer .socialLinks a.fb {
  background: url(/img/fb100.png);
}
.footer .socialLinks a.twitter {
  background: url(/img/twitter100.png);
}
.footer .socialLinks a.linkedin {
  background: url(/img/linkedin100.png);
}
.footer .socialLinks a:hover,
.footer .socialLinks a:focus,
.footer .socialLinks a:active {
  opacity: 0.5;
}
.footer .license {
  text-align: center;
  line-height: 2em;
  padding-top: 20px;
}
.footer .about,
.footer .legal {
  text-align: center;
  opacity: 0.5;
  line-height: 2em;
}
/* Apply */
body header.logo {
  background: #333333;
  padding: 0 25px;
}
body header.logo a {
  background: url(/img/logo76x60.png);
  background-repeat: no-repeat;
  background-position: 0 8px;
  display: block;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-left: 85px;
}
body header.logo a h1 {
  display: inline-block;
  color: #ffffff;
  margin: 0px 10px 0 10px;
}
body header.logo a p {
  display: inline-block;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: bolder;
  word-spacing: 0.2em;
}
body header.logo a:hover,
body header.logo a:active,
body header.logo a:focus {
  opacity: 0.75;
  color: #526569;
  -moz-transform: scale(0.75) translate(-100px, 0);
  -webkit-transform: scale(0.75) translate(-100px, 0);
  transform: scale(0.75) translate(-100px, 0);
}
body nav {
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.65);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.65);
  margin-bottom: 4px;
}
nav ul {
  width: 960px;
  display: block;
  margin: auto;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 15px;
  padding: 0 15px;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
nav ul li:hover,
nav ul li:focus,
nav ul li:active {
  background: #000;
  background: rgba(0, 0, 0, 0.5);
}
nav ul li:hover a,
nav ul li:focus a,
nav ul li:active a {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
  font-size: 2em;
  /* 20px / 10px */

  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
nav ul li:hover a:hover,
nav ul li:focus a:hover,
nav ul li:active a:hover,
nav ul li:hover a:focus,
nav ul li:focus a:focus,
nav ul li:active a:focus,
nav ul li:hover a:active,
nav ul li:focus a:active,
nav ul li:active a:active {
  color: #ffffff;
  -moz-text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
  -webkit-text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
  text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
}
nav ul li.active {
  background: rgba(0, 0, 0, 0.5);
}
nav ul li.active a {
  color: #ffffff;
  -moz-text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
  -webkit-text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
  text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
}
nav ul li a {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
  font-size: 2em;
  /* 20px / 10px */

  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  color: #ffffff;
  -moz-text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
  -webkit-text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
  text-shadow: 1px 1px 3px rgba(204, 204, 204, 0.3);
}
div#container {
  background: #fff;
  width: 960px;
  position: relative;
  left: 50%;
  margin-left: -480px;
}
div#container section div.box {
  margin: 30px;
  display: inline-block;
  width: 415px;
  vertical-align: top;
}
div#container section div.box article a {
  text-decoration: none;
}
div#container section div.box article header h1 {
  font-size: 1.8em;
  line-height: 1em;
}
div#container section div.box article header h1 a {
  color: #333333;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
div#container section div.box article header h1 a:hover,
div#container section div.box article header h1 a:focus,
div#container section div.box article header h1 a:active {
  color: #526569;
}
div#container section div.box article div.thumb {
  float: left;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 60px;
  margin: 10px;
}
div#container section div.box article div.thumb img {
  width: 110px;
}
div#container section div.box article p {
  line-height: 1.2em;
  font-size: 1.7em;
}
div#container section div.box article p a {
  color: #2a9eea;
  font-size: .8em;
  font-weight: bolder;
  font-style: italic;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
div#container section div.box article p a:hover,
div#container section div.box article p a:focus,
div#container section div.box article p a:active {
  color: #526569;
}
div#container section div.box article span.author {
  color: #526569;
}
div#container section div.box div.articlePagination {
  margin: 0;
  padding: 0;
  height: 30px;
  line-height: 1.8em;
  font-size: 1.7em;
  text-align: right;
  font-weight: bolder;
}
div#container section div.box div.articlePagination a {
  color: #2a9eea;
  text-decoration: none;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
div#container section div.box div.articlePagination a:hover,
div#container section div.box div.articlePagination a:focus,
div#container section div.box div.articlePagination a:active {
  color: #526569;
}
div#container section div.box div.articlePagination a.active {
  color: #526569;
}
footer {
  background: #333333;
  color: #ffffff;
}
footer a {
  color: #2a9eea;
}
footer .socialLinks {
  text-align: center;
}
footer .socialLinks a {
  display: inline-block;
  text-indent: -99999px;
  width: 100px;
  height: 100px;
}
footer .socialLinks a.fb {
  background: url(/img/fb100.png);
}
footer .socialLinks a.twitter {
  background: url(/img/twitter100.png);
}
footer .socialLinks a.linkedin {
  background: url(/img/linkedin100.png);
}
footer .socialLinks a:hover,
footer .socialLinks a:focus,
footer .socialLinks a:active {
  opacity: 0.5;
}
footer .license {
  text-align: center;
  line-height: 2em;
  padding-top: 20px;
}
footer .about,
footer .legal {
  text-align: center;
  opacity: 0.5;
  line-height: 2em;
}
.pub970 {
  width: 970px;
  margin: auto;
}
.pub300x250 {
  width: 300px;
  height: 250px;
  float: left;
  margin: 25px;
}
span.pubLabel {
  display: block;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;
  line-height: 1.5em;
}
/* modal */
body .modalBox {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
body .modalBox .modalcontainer {
  z-index: 9999;
  width: 960px;
  background: #fff;
  margin: auto;
  top: 50px;
  padding: 25px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
body .modalBox .modalcontainer .modalEntrie {
  height: inherit;
  width: inherit;
  overflow: auto;
  font-size: 1.5em;
  line-height: 1.5em;
}
body .modalBox .modalcontainer .modalEntrie a {
  color: #2a9eea;
}
body .modalBox .modalcontainer .modalEntrie a:hover,
body .modalBox .modalcontainer .modalEntrie a:focus,
body .modalBox .modalcontainer .modalEntrie a:active {
  color: #526569;
}
body .modalBox .modalcontainer .modalEntrie h1 {
  font-size: 1.5em;
  line-height: 2em;
}
body .modalBox .modalcontainer .modalEntrie h2 {
  font-size: 1.5em;
  line-height: 2em;
}
body .modalBox .modalcontainer .modalEntrie h3 {
  font-size: 1.5em;
  line-height: 2em;
}
body .modalBox .modalcontainer .modalEntrie h4 {
  font-size: 1.5em;
  line-height: 2em;
}
body .modalBox .modalcontainer .modalEntrie h5 {
  font-size: 1.5em;
  line-height: 2em;
}
body .modalBox .modalcontainer .modalEntrie h6 {
  font-size: 1.5em;
  line-height: 2em;
}
body .modalBox .modalcontainer .modalEntrie .seeOriginal {
  text-align: right;
  padding-right: 20px;
}
body .modalBox .modalcontainer .modalEntrie .seeOriginal a {
  font-size: 1.2em;
  font-weight: bolder;
  text-decoration: none;
}
body .modalBox .modalcontainer .close {
  position: absolute;
  top: -20px;
  right: 10px;
  color: #526569;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  -moz-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  -webkit-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
/* responsive rules */
@media (max-width: 970px) {
  .pub970 {
    display: none;
  }
  body div#container {
    width: inherit;
    position: inherit;
    left: inherit;
    margin: inherit;
  }
  body .modalBox .modalcontainer {
    width: 850px;
  }
}
@media (max-width: 960px) {
  body {
    margin: 0;
    padding: 0;
  }
  body div#container section div.box {
    display: block;
    width: inherit;
  }
  body nav ul {
    width: inherit;
  }
}
@media (max-width: 900px) {
  body .modalBox .modalcontainer {
    width: 80%;
  }
  body .modalBox .modalcontainer .modalEntrie {
    width: 100%;
  }
}
@media (max-width: 850px) {
  body header.logo a {
    text-align: center;
    line-height: 4.5em;
  }
}
@media (max-width: 600px) {
  body .pub300x250 {
    display: none;
  }
}
@media (max-width: 520px) {
  body header.logo a {
    min-height: 80px;
  }
  body header.logo a p {
    display: none;
  }
  body nav ul li {
    margin: 0;
  }
}
@media (max-width: 468px) {
  body header.logo a {
    background-position: center 8px;
  }
  body header.logo a h1 {
    display: none;
  }
}
@media (max-width: 400px) {
  body nav ul li a {
    font-size: 1.5em;
  }
  body nav ul li a:hover,
  body nav ul li a:active,
  body nav ul li a:focus {
    font-size: 1.5em;
  }
}
