/* 
    Document   : style
    Created on : 11/11/2012, 10:48:32 AM
    Author     : Ricardo
    Description:
        Purpose of the stylesheet follows.
*/
/* vars */
@base-url: "/img";
@color: #000080;
@bg: #FFF;
@margin-top: 20px;
@shadow-color: #888;
@color-light:#F6F5F4;
@color-dark: #1E1E1E;

/* main estructure */
/*
  /////////////////////////////////////////////////////////////////////////////  
*/
body {
  color: @color-dark;
  background: url('@{base-url}/bg-main.jpg');
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
.text-shadow(@color-dark){
    text-shadow: 2px 2px 5px @color-dark;
}
.text-links(@color-link,@color-hover){
    color: @color-link;
    span,h1,h2,h3,h4,strong{
        color: @color-link;
    }
    a{
        color: @color-link;
        text-decoration: none;
    }
    a:hover{
        color: @color-hover;        
        .text-shadow(@color-link);
    }    
}
.border-light{
    border: 1px solid @color-light;
}
#header{
    background: url('@{base-url}/bg-hd.png') 21px 4px no-repeat;
    .logo{            
        .text-links(@color-light,@color-dark);    
        h1{
            font-size: 36px;
            margin-left: 120px;
            margin-bottom: -10px;
        }
        p{
            margin-left: 120px;
        }    
    }
}
div#container{
    background: @color-dark;
    .text-links(@color-light,@color-light);
    .border-light;
}
.fancy-shadow(@shadow){
    -moz-box-shadow: inset 0px 0px 20px @shadow;
    -webkit-box-shadow: inset 0px 0px 20px @shadow;
    box-shadow: inset 0px 0px 20px @shadow;
}
div#main{
    background: @color-light;
    .text-links(@color-dark,@color-dark);    
    padding: 25px 0;    
}
.ad{
    background: @color-light;
    color: @color-dark;    
    margin: 10px 5px;
    font-size: 35px;
    text-align: center;
}
.ad234x60{
    .ad;
    height: 60px;
    width: 234px;
}
div#footer{
    background: url('@{base-url}/bg-hd.png')  850px 7px no-repeat;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    padding: 20px 0;
}