/* 
    Document   : customized
    Author     : richistron
    Description:
        less css stylesheet
*/
/* Font face */
@font-face {
    font-family: 'DroidSansMonoRegular';
    src: url('/fonts/DroidSansMono-webfont.eot');
    src: url('/fonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/DroidSansMono-webfont.woff') format('woff'),
         url('/fonts/DroidSansMono-webfont.ttf') format('truetype'),
         url('/fonts/DroidSansMono-webfont.svg#DroidSansMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Colors */
@color-dark: #333;
@color-gray: #526569;
@color-blue: #2A9EEA;
@color-red: #E01B1A;
@color-white: #FFF;
/* main functions and classes */
.main-style{
	font-family: 'DroidSansMonoRegular', helvetica, sans-serif;
	color: @color-dark;
	background: @color-dark; 
	font-size: 16px;
	a{
		color: @color-blue;
		text-decoration: none;
		&:hover , &:focus, &:active {
			color: @color-gray;
		}
	}
	header{		
		color: @color-white;
		font-size: 1em;
		a{			
			background: url(/img/logo.png);
			background-position: 10px 25px;
			background-repeat: no-repeat;
			color: @color-white;
			display: inline-block;			
			&:hover , &:focus , &:active {
				color: @color-gray;
			}					
			h1{
				display: inline-block;
			}
			p{
				margin-top: -15px;
			}
			h1,p{
				margin-left: 65px;
			}	
		}
	}
	footer{
		height: 150px;
		color: @color-white;
	}
	nav{
		background: @color-gray;
		margin: 0;
		padding: 0;
		margin-top: -15px;
	}
	section{
		background: @color-white;
	}
}
/* apply */
body, html {
	.main-style;
}