$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";

.container-fluid{
    .row-fluid{
        margin-top: 50px;        
        .todo-done-true{
        	text-decoration: line-through;        	        	
        }
    }
}