$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

$muted: #999999;

@mixin muted{
	color: $muted;
}

html {
	font-size: 16px;
}
body{
	font-size: 62.5%; /* 1em */
}

#container{

	.row-fluid{

		.todo-item{

			h3{
				font-size: 2em;
			}

			p{
				font-size: 1.5em;
			}

			.todo-done-true{
				text-decoration: line-through;
				@include muted;
			}
			
		}

		.toogleTodo{
			vertical-align: middle;
			text-align: center;
			input[type="checkbox"]{				
				width: 20px;
				height: 20px;
			}
		}

		.pages{
			margin-top: 50px;
		}

		.todosContainer{			
			.controls , .todosList{
				margin-top: 50px;
			}			
		}
	}
}