<div class="row-fluid" ng-controller="FeedsCtrl">
	<div class="span3">
		<h4>New todo</h4>
		<form class="">
			<div class="control-group">
				<div class="controls">
				{{formTodoNew}}
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<fieldset>
						<label>
							Text
						</label>
						<input ng-model="formTodoNew" ng-model-instant type="text" placeholder="Example: Go to store"/>
					</fieldset>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button ng-click="addTodo()" type="submit" class="btn btn-success">
						<span class="icon-plus"></span>Add
					</button>					
					<button ng-click="clearTodos()" type="submit" class="btn btn-danger">
						<span class="icon-minus"></span>Clear
					</button>
				</div>
			</div>
		</form>
		<div class="row-fluid">
			<fieldset>
				<label>
					<h4>Search</h4>
				</label>
				<input type="text" ng-model="search" placeholder="Example: Go to store" />				
			</fieldset>
			<fieldset>
				<span ng-class="{true: 'icon-plus', false:'icon-minus'}[hideComplete]"></span>
				{{ShowHide()}} completed <input type="checkbox" ng-model="hideComplete"/>
			</fieldset>
		</div>
	</div>
	<div class="span9 panel panel-default">
		<div class="panel-heading">
			<h4>Todos total {{todosTotal}}</h4>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>
							Todo
						</th>
						<th>
							Actions
						</th>												
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="todo in todos | filter:search | completedTodos:hideComplete ">
						<td class="todo-done-{{todo.done}}" ng-class="{muted: todo.done}">							
							{{todo.text | titleize}}							
						</td>
						<td>
							<input type="checkbox" ng-model="todo.done"/>
						</td>												
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>