<div class="span9 panel panel-default">				
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>
						Todo(s)
					</th>
					<th class="span1 toogleTodo">
						Actions
					</th>												
				</tr>
			</thead>
			<tbody>
				<tr highlight ng-repeat="todo in todos | filter:search | completedTodos: hideComplete">
					<td class="span8">
						<!-- directive: todo-item -->
					</td>
					<td class="span1 toogleTodo">
						<!-- directive: toogleTodo -->
					</td>												
				</tr>
			</tbody>
		</table>
	</div>
</div>